body {
    font-family: 'Roboto', sans-serif;
 
    font-size: 1.1rem;
    font-weight: 300;
   
}

header {
   font-family: 'Shrikhand', cursive;
    font-size: 3rem;
}
h1 {
    font-size: 1.4rem;
}
h2 {
    font-size: 1.2rem;
}
