//header principal

header {
    @include flex-center;
    margin-top: .5em;
    margin-bottom: .5em;
    height: 50px;

}

.header-menu{
   position: relative;
   &--arrow{
       position: absolute;
       top: 30%;
       left: 2rem;
       font-size: 1.5rem;
   }
}
.header--logo{
    font-family: 'Shrikhand', cursive;
    font-size: 3rem;
}