.main--menu{
    background-color: $color-background;
    border-radius: 3rem 3rem 0 0;
    width: 100%;
    &--header {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        font-size: 1.7rem;
        font-weight: 900;
        padding: 20px 10px;
        margin-top: -3.5rem;
        margin-left: 5%;
        margin-right: 5%;
        @include desktop{
        margin-top: -3rem;
        }
    }
}
.menu-wrapper{
    width: 100%;
    @include flex-center;
    flex-direction: column;
    @include desktop {
        flex-direction: row;
        // margin: 0px 20px ;
    }
}
.menu-section{
  width: 90%;
  padding: 15px;
  max-width: 450px;
  h1{
      display: inline-block;
      position: relative;
      &::after{
content: '';
height: 3px;
width: 50%;
background: $colour-tertiary;
position:absolute;
left: 0;
bottom: 0;
      }
  }
}
.menu-items{
    display: flex;
    flex-direction: column;
}
.menu-item {
   width: 100%;
   height: 70px;
    min-width: 250px;
    background-color: $colour-white;
    margin: 10px 0px;
    border-radius: 15px;
    // padding: 15px 0px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: card-delay 1s both cubic-bezier(.62,.75,.61,.79);
   &__content {
       display: flex;
       justify-content: space-between;
       align-items: center;
       width: 100%;
       height: 100%;
   }
    &__price {
       margin-right: 15px;
    }
    &__check{
        @include flex-center;
        height: 100%;
       width: 0%;
       background: $colour-tertiary;
       border-radius: 0 0.75rem 0.75rem 0;
       color: white;
       overflow: hidden;
       i{
           background-color: $colour-tertiary;
           opacity: 0;
        //   
       }
    }
    &:hover {
        .menu-item__content{
            animation: contentdiv 1.5s ease-in-out forwards;
        }
        .menu-item__check{
            animation: checkdiv 1.5s ease-in-out forwards;
          
        }
        i{
            opacity: 1;
            animation: checkrotate 1.5s ease-out;
        }
    }
}
.menu-item__text{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 10px;
}
.bgmenu--menu3 {
    width: 100%;
 padding-top: 50%;
 background: url('/maquettesomf/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg') ;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 @media screen and (min-width: 1000px){
     padding-top: 30%;
 }
}

.delay {
    &--1{ 
        animation-delay: 0.1s;
    }
    &--2 {
        animation-delay: 0.2s;
    }
    &--3 {
        animation-delay: 0.3s;
    }
    &--4{
        animation-delay: 0.4s;
    }
    &--5{
        animation-delay: 0.5s;
    }
    &--6{
        animation-delay: 0.6s;
    }
    &--7{
        animation-delay: 0.7s;
    }
}