.mapsearch { //première section de acceuil
    @include flex-center;
    flex-direction: column;
   background: #F6F6F6 ;
    p {
        text-align: center
    }
    aside   {
        @include flex-center;
        width: 100%;
        height: 50px;
        background-color: $color-background;

     
    }
    &--article {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 200px;
        width: 100%;
    }
    
}
#mapmarker{
    margin-right: 1.2em;
} 

.filtres{
    display: flex;
    flex-direction: column;
    width: 100%;
    @include flex-center;
    flex-direction: column;
    margin-top: 15px;
    
    i{
        color: #7e7e7e;
    }
}
.main--filtres{
    &--button{
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 1100px) {
            width: 100%;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}
//les restaurants
.restaurants  {
    width: 100%;
    background: $color-background;
     @include flex-center;
     flex-direction: column;
    &--title{
        font-weight: bold;
        font-size: 1.2rem;
    }
    &--container {
        width: 100%;
        display: flex;
        justify-content: space-around;
       flex-wrap: wrap;
            
        a{
            width: 80%;
            max-width: 400px;
           
        }
    }
}
.content {
    margin-top: 1.5em;
    background-color: $colour-white;
    border-radius: 1em 1em;
    width: 100%;
    &--bg1{
        background: url('/maquettesomf/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg') ;
    @include card-bg;
    }
    &--new {
      
        top: 15px;
        right: 15px;
        background-color: $colour-tertiary;
        color: #008766;
        font-size: 1.3em;
        font-weight: bold;
        padding: 10px 15px;
        border-radius: 10px;
        margin: 10px 10px 0 0;
    }
    &--text {
        display: flex;
        justify-content: space-between;
        padding: 15px 15px;
    }
    &--bg2
    {
    background: url('/maquettesomf/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
    @include card-bg;
    }
    &--bg3 {
        background: url('/maquettesomf/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg');
        @include card-bg;
        
    }
    &--bg4 {
        background: url('/maquettesomf/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
        @include card-bg;
    }
}
.like {
    
    align-self: center;
    height: 16px;
    width: 16px;
    
    .far {
        
        font-size: 1.5rem;
    }
    &:hover {
       
        
        .far {
            color: transparent;
            font-weight: 900;
            background-clip: text;
            -webkit-background-clip: text;
            transition: background-image ease-out 3s;
            background-image:  linear-gradient(90deg, rgba(187,43,175,1) 0%, rgba(238,119,206,1) 100%);
           
        }
    }
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.load {
    width: 50vw;
    max-width: 300px;
    height: 5em;
    display: flex;
    justify-content: space-evenly;
    &__bar {
        border-radius: 50%;
        height: 2em;
        width: 2em;
        animation: loader $anim-dur backwards 3 linear;
        @for $i from 1 through 6 {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
            }
    }

}
@include desktop {
    width: 15vw;
}
}
.bar--purple{
            background-color: #9356DC;
        }
.bar--pink{
            background-color: #FF79DA;
        }

.bar--green{
            background-color: #99E2D0;
        }
    
    