@keyframes checkdiv{
0% {
width: 0%;
}

100% {
   
width: 4rem;
}
}
@keyframes contentdiv {
    from{
        width: 100%;
    }
    to {
        width: 75%
    }
}
@keyframes checkdivend{
   0% {
      width: 4rem;
   }
   
   100% {
   width: 0%;
   }
   }

@keyframes contentdivend {
       from{
         width: 75%
       }
       to {
         width: 100%;
       }
   }
@keyframes checkrotate{
      from{
         transform: rotate(90deg)
      }
      to{
         transform: rotate(360deg);
      }
      }
@keyframes card-delay{
 0%{
opacity: 0;
transform: translate(0, 10px);
 }
 25%{
    opacity: 0.2;
    transform: translate(0, 8px);
 }
 50%{
    opacity: 0.5;
    transform: translate(0, 5px);
 }
 75%{
    opacity: 1;
    transform: translate(0, 2px);
 }
 100%{
   
    transform: translate(0, 0);
 }
}
@keyframes loader{
    0%{
        
        transform: translate(0, 0x);
         }
         25%{
           
            transform: translate(0, 15px);
         }
         
         75%{
          
            transform: translate(0, -15px);
         }
         100%{
           
            transform: translate(0, 0);
         }
}
@keyframes containerloader {
         0% {
            transform: scale(1, 1)
         }
         100% {
             
            transform: scale(0, 0)
         }
     }