// @mixin heading-shadow($colour:lightness-shift($colour-primary), $offset: $heading-shadow-size){
//     text-shadow: $offset $offset $colour;
// }


@mixin btn {
    display: flex;
    align-items: center;
    
    background: $color-background; //changer en rgba et changer opacity avec mixins et fonctions
    cursor: pointer;
    position: relative;
    width: 90vw;
    max-width: 320px;
    height: 80px;
    margin: $button-margin;
    border-radius: $border-radius-button;
    padding-left: 2rem;
    &:hover{
        background:  rgb(147, 86, 220, 0.1);
    }

}
@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)){
        @content;
    }
}
@mixin desktop{
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin card-bg {
    width: 400px;
    padding-top: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 1em 1em 0 0;
}